APP_NAME = BoardGame
APP_WIDTH = 1920
APP_HEIGHT = 1080
MAP_SIZE = 25
CAVES_AMOUNT = 5
MAGIC_SOURCES_AMOUNT = 5
MINES_AMOUNT = 5
LOCALE = pl
PLAYER_1 = Bartek
PLAYER_2 = Darek
PLAYER_3 = Wojtek
PLAYER_4 = BOT
FULLSCREEN = FALSE
TURN = 3